/* SWATCHES ---------------------------------------------------------------------- */

span.cm-link		{ color: #457b9d; }
span.cm-number		{ color: #6b9080; }
span.cm-string		{ color: #22333b; }

span.cm-builtin     { color: #e36414; }
span.cm-def			{ color: #6b9080; }
span.cm-keyword		{ color: #ff8fab; }
span.cm-operator	{ color: #d39938; }
span.cm-qualifier	{ color: #afbb44; }
span.cm-tag			{ color: #a75895; }

span.cm-attribute	{ color: #f79256; }
span.cm-variable	{ color: #168aad; }

span.cm-atom		{ color: #246a73; }
span.cm-comment		{ color: rgb(157, 181, 178, 0.5); }
span.cm-error		{ color: rgb(201, 93, 103, 0.7); }
span.cm-property	{ color: #56ab91; }

span.cm-string-2    { color: #22333b; }
span.cm-variable-2	{ color: #034078; }
span.cm-variable-3	{ color: #1282a2; }
span.cm-header      { color: #7f7f7f; }

span.cm-bracket		{ color: #678d58; }
span.cm-meta		{ color: #788bff; }

/* MISC ---------------------------------------------------------------------- */

.CodeMirror {
    line-height: 1.5;
}

.CodeMirror,
.CodeMirror .CodeMirror-scroll {
	background: #f4fbf1;
	color: #89be65;
}

.CodeMirror-cursor {
	border-left: 2px solid #000000 !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid #457b9d !important;
    border-left: none !important;
}

.CodeMirror-gutters {
	background: #f4fbf1;
	border-right: 0;
}

.CodeMirror-linenumber {
	color: rgba(0, 0, 0, 0.3);
}
/* selection of code */
.CodeMirror-selected {
	background: #dbf2d4;
}
.CodeMirror .CodeMirror-selected {
    background: rgba(219, 242, 212, 0.5);
}
.CodeMirror-focused .CodeMirror-selected {
    background: #dbf2d4;
}
/* Matching */

.CodeMirror-matchingbracket {
    background: transparent !important;
	border-bottom: 3px solid #52b788 !important;
    color: #000000 !important;
}

.CodeMirror-matchingtag {
    background: #787d77 !important;
	border-bottom: 3px solid rgba(96, 100, 95, 0.5) !important;
}

/* Active Line */

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
	color: #affc41 !important;
}

.CodeMirror-activeline-background {
	background: #dbf2d4 !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #000000;
	background-color: #dbf2d4 !important;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
	color: #000000;
}

/* Non-editor styling */

#image-holder,
#not-editor {
    background-color: #f4fbf1;
}

#image-holder {
    color: #89be65;
}

